registry=https://vsoft1.pkgs.visualstudio.com/_packaging/nuget-commons-service/npm/registry/
                        
always-auth=true

; begin auth token
//vsoft1.pkgs.visualstudio.com/_packaging/nuget-commons-service/npm/registry/:username=vsoft1
//vsoft1.pkgs.visualstudio.com/_packaging/nuget-commons-service/npm/registry/:_password="Z255ZHBsb2hqNjc1aGpiM2M2bm9uY3d6NXQ3aDJtMzJ4dGIyYmZ0bTV5c2Nqc2J4Z2FhYQ=="
//vsoft1.pkgs.visualstudio.com/_packaging/nuget-commons-service/npm/registry/:email=andre.andrade@vsoft.com.br
//vsoft1.pkgs.visualstudio.com/_packaging/nuget-commons-service/npm/:username=vsoft1
//vsoft1.pkgs.visualstudio.com/_packaging/nuget-commons-service/npm/:_password="Z255ZHBsb2hqNjc1aGpiM2M2bm9uY3d6NXQ3aDJtMzJ4dGIyYmZ0bTV5c2Nqc2J4Z2FhYQ=="
//vsoft1.pkgs.visualstudio.com/_packaging/nuget-commons-service/npm/:email=andre.andrade@vsoft.com.br
; end auth token